/* import font from goole fonts */
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Raleway:400,400i,500,500i,700|Roboto');

/* Color paletter */
$white: rgba(255, 255, 255, 1);
$offWhite: rgba(243, 243, 243, 1);
$yellow: rgba(246, 185, 8, 1);
$lightYellow: rgba(246, 187, 8, 0.9);
$moreLightYellow: rgba(239, 211, 120, 1);
$black: rgb(0, 0, 0);
$lightBlack: rgba(59, 59, 59, 1);
$gray: rgba(188, 191, 196, 1);

$link-text-color: $lightBlack;
$link-text-color-hover: $yellow;

$dosis: 'Dosis', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

$default-border-radius: 8px;
$button-border-radius: 50px;

$btn-ground-black-white: linear-gradient(
  to right, 
  $lightBlack,
  $lightBlack 35%,
  $white 35%,
  $white 75%
);

$btn-ground-yellow-white: linear-gradient(
  to right, 
  $yellow,
  $yellow 40%,
  $white 40%,
  $white 60%
);

$smaller: (
  'min-width': 320px,
  'columns': susy-repeat(4),
  'gutters': 1/6,
);

$small: (
  'min-width': 340px,
  'columns': susy-repeat(6),
  'gutters': 1/6,
);

$medium: (
  'min-width': 768px,
  'columns': susy-repeat(12),
  'gutters': 1/6,
);

$medium-large: (
  'min-width': 960px,
  'columns': susy-repeat(12),
  'gutters': 1/6,
);

$large: (
  'min-width': 1440px,
  'columns': susy-repeat(12),
  'gutters': 1/6,
);

$extra-large: (
  'min-width': 2040px,
  'columns': susy-repeat(12),
  'gutters': 1/6,
);

// Susy map setup
$susy: (
    'columns': susy-repeat(12),
    'gutters': 1/6
);

@mixin susy-at(
  $config,
  $maxWidth: false
) {
  //  parse and normalize any shorthand arguments
  $config: susy-compile($config);

  // build min-and-max queries
  $min: map-get($config, 'min-width');
  $min: if($min, '(min-width: #{$min})', null);  
  $max: if($maxWidth, '(max-width: #{$maxWidth})', null);

  // combine them if we need both
  $and: if($min and $max, '#{$min} and #{$max}', null);
  // or fall back to the value we need…
  $query: $and or $min or $max;

  // apply the results…
  @media #{$query} {
    @include susy-use($config) {
      @content;
    }
  }
}

@mixin susy-use(
  $config
) {
  //  parse and normalize any shorthand arguments
  $config: susy-compile($config);

  // record the global settings -
  // and update the global variable with our new settings
  $global: $susy;
  $susy: map-merge($susy, $config) !global;

  // any content inside this mixin
  // will use the local settings
  @content;

  // return the global variable to its initial value
  $susy: $global !global;
}